---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="AI 组" id="compatibility">
  <Fragment slot="lead">
    使用 <span class="text-primary">AI</span>
    <br />
    实现你的<span class="text-primary">愿望</span>
  </Fragment>
</ContentSection>
