---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";

const frameworks = [
  {
    title: "JavaScript",
    icon: "logos:javascript",
    url: "https://developer.mozilla.org/",
  },
  {
    title: "Java",
    icon: "logos:java",
    url: "https://java.com/",
  },
  {
    title: "Python",
    icon: "vscode-icons:file-type-python",
    url: "https://python.org/",
  },
  {
    title: "C++",
    icon: "vscode-icons:file-type-cpp3",
  },
  {
    title: "TypeScript",
    icon: "vscode-icons:file-type-typescript-official",
    url: "https://typescriptlang.org/",
  },
  {
    title: "Rust",
    icon: "vscode-icons:file-type-light-rust",
    url: "https://rust-lang.org/",
  },
];

const projects = [
  {
    title: "QQ私服",
    icon: "mdi:folder",
    url: "https://github.com/Icalingua-plus-plus/Icalingua-plus-plus",
  },
  {
    title: "龙猫校园变态版",
    icon: "mdi:folder",
    url: "https://github.com/lixiang810/totoroschool-autorun",
  },
  {
    title: "学习通无敌版",
    icon: "mdi:folder",
    url: "https://github.com/Clansty/superstar-checkin",
  },
  {
    title: "健康日报无限版",
    icon: "mdi:folder",
    url: "https://github.com/Clansty/NUISTHealthReport-Plus",
  },
  {
    title: "大学习自动版",
    icon: "mdi:folder",
    url: "https://github.com/lixiang810/AntiFacistIndoctrination",
  },
  {
    title: "南元门卫快速版",
    icon: "mdi:folder",
    url: "https://github.com/Clansty/nuist-goout-v2",
  },
];
---

<ContentSection title="开发组" id="dev-group">
  <Fragment slot="lead">
    用<span class="text-primary font-mono">{`<`}代码{`>`}</span>和智慧<br
    />实现我们的<span class="gradient-text">雄心</span>
  </Fragment>
  <CompatibilityList
    title="语言"
    data={frameworks}
  />
  <CompatibilityList
    title="拳头项目"
    data={projects}
    url="https://github.com/stars/lixiang810/lists/school-kits"
  />
</ContentSection>
