---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import QQgroup from "../assets/qQgroup.png";

const links = [
  {
    url: "http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=7JSpEWNndh2FvrdwHAXB_7e5-DS55S4x&authKey=RGwMFO%2FxXfRcvzNGtE7OVnGuMQkvE1JzMSyudr%2FZe6SOumdB00ImKZCUrpXz1Wl%2B&noverify=0&group_code=763474521",
    description: "加入新生QQ群",
    icon: "mdi:home",
  },
];
---

<footer class="relative flex items-center justify-center h-96">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-1 gap-4 sm:grid-cols-1">
    {
      links.map((link) => (
        <li>
          <a
            class="flex items-center justify-center w-26 h-16 p-4 border-2 border-current"
            href={link.url}
          >
            <span class="font-bold">{link.description}</span>
          </a>
        </li>
      ))
    }
    <li>
      <img
        class="flex items-center left-10 h-64"
        src={QQgroup}
        alt="DH社团23级新生群"
      />
    </li>
  </ul>
</footer>
