---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="我们不是培训机构" id="intro">
  <Icon slot="eyebrow" name="LOGO" class="h-32" />
  <Fragment slot="lead">
    <span class="text-primary">DH</span>
    原名<span class="gradient-text">多火</span
    >，是校内现存最古老、涉及领域最广的计软技术交流社团，不收社员一分钱
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=ugiq0kMw5UnZJIrxABzHK9J0OYrFovkg&authKey=TZtoZ0fKM5rUI0fJJatM8tz%2F2B4iIbV%2FWMe5r1ZhjiTzwXGQCWDnTHvIcvoGof0g&noverify=0&group_code=904679757"
      target="_blank"
      rel="noreferrer"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="qqchat" class="h-8" />
      <span>进群看看</span>
    </a>
    <a
      href="https://github.com/stars/lixiang810/lists/school-kits"
      target="_blank"
      rel="noreferrer"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>新生大礼包（迫真）</span>
    </a>
  </div>
</ContentSection>
