---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="我们不是培训机构" id="intro">
  <Icon slot="eyebrow" name="LOGO" class="h-32" />
  <Fragment slot="lead">
    <span class="text-primary">DH</span>
    原名<span class="text-primary">多火</span>，是校内现存最古老、涉及领域最广的计软技术分享社团
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>看看有啥</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>新生大礼包（迫真）</span>
    </a>
  </div>
</ContentSection>
