---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="安全组" id="showcase">
  <Fragment slot="lead">
     <span class="text-primary">黑客</span>{" "}攻防 <br />
    探索更多<span class="gradient-text">可能性</span>
  </Fragment>
</ContentSection>
