---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="安全" id="showcase">
  <Fragment slot="lead">
    <span class="text-primary">黑客</span>攻防方法论<br />
    击穿脚本小子<span class="text-primary">心智</span><br />
    打出一套<span class="gradient-text">组合拳</span>
  </Fragment>
</ContentSection>
